.page.theme_dark {
  --accent-color: #ff0070;
  --main-bg-color: #000028;
  --main-text-color: #f1b2ce;
  --text-shadow: #ff0070;
  --nav-color: #FF0070;
  --nav-hover-color: rgb(255 0 112 / 0.4);
  --focus: #DB00FF;
  --title-color: #000028;
  background-color: var(--main-bg-color);
  background-image: url("/images/cover-image-dark.png");

  .header_indicator {
    display:  block;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --accent-color: #ff0070;
    --main-bg-color: #000028;
    --main-text-color: #f1b2ce;
    --text-shadow: #ff0070;
    --nav-color: #FF0070;
    --nav-hover-color: rgb(255 0 112 / 0.4);
    --focus: #DB00FF;
    --title-color: #000028;
    background-color: var(--main-bg-color);
    background-image: url("/images/cover-image-dark.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
  }
  .header_indicator {
    display: block;
  }
}