.page.theme_dark {
  --title-color: #000028;
  --focus: #DB00FF;
  --text-shadow: #ff0070;
  --accent-color: #ff0070;
  --nav-color: #FF0070;
  --nav-hover-color: rgb(255 0 112 / 0.4);
  --main-bg-color: #000028;
  --main-text-color: #f1b2ce;
  --bg-dark-color: #000028;
  --bg-light-color: #fff1f7;
  --bg-image: url("/images/cover-image-dark.png");

  .header_indicator {
    display:  block;
  }
}

@media (prefers-color-scheme: dark) {
  :root {
    --title-color: #000028;
    --focus: #DB00FF;
    --text-shadow: #ff0070;
    --accent-color: #ff0070;
    --nav-color: #FF0070;
    --nav-hover-color: rgb(255 0 112 / 0.4);
    --main-bg-color: #000028;
    --main-text-color: #f1b2ce;
    --bg-dark-color: #000028;
    --bg-light-color: #fff1f7;
    --bg-image: url("/images/cover-image-dark.png");
  }
  .header_indicator {
    display: block;
  }
}