.page.theme_light {
  --title-color: #353430;
  --focus: #FFC2E6;
  --text-shadow: #FF8DCB;
  --accent-color: #FF8DCB;
  --nav-color: #353430;
  --nav-hover-color: rgba(50, 49, 45, 0.4);
  --main-bg-color: #fff1f7;
  --main-text-color: #353430;
  --bg-dark-color: #000028;
  --bg-light-color: #fff1f7;
  --bg-image: url("../images/cover-image-light.png");

  @media (width >= 1024px) {
    .focus {
      --text-shadow: #FF0070;
      }
  }
  
  .header_indicator {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --title-color: #353430;
    --focus: #FFC2E6;
    --text-shadow: #FF8DCB;
    --accent-color: #FF8DCB;
    --nav-color: #353430;
    --nav-hover-color: rgba(50, 49, 45, 0.4);
    --main-bg-color: #fff1f7;
    --main-text-color: #353430;
    --bg-dark-color: #000028;
    --bg-light-color: #fff1f7;
    --bg-image: url("../images/cover-image-light.png");

    @media (width >= 1024px) {
      .focus {
      --text-shadow: #FF0070;
      }
    }
  }

  .header_indicator {
    display: none;
  }
}