.page.theme_light {
  --accent-color: #FF8DCB;
  --main-text-color: #353430;
  --text-shadow: #FF8DCB;
  --nav-color: #353430;
  --nav-hover-color: rgba(50, 49, 45, 0.4);
  --focus: #FFC2E6;
  --title-color: #353430;
  background-image: url("/images/cover-image-light.png");

  @media (width >= 768px) {
    --text-shadow: #FF0070;
  }
  
  .header_indicator {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB;
    --main-text-color: #353430;
    --focus: #FFC2E6;
    --nav-color: #353430;
    --nav-hover-color: rgba(50, 49, 45, 0.4);
    --text-shadow: #FF8DCB;
    --main-bg-color: #FFF1F7;
    background-image: url("/images/cover-image-light.png");

    @media (width >= 768px) {
      --text-shadow: #FF0070;
    }
}
.header_indicator {
  display: none;
}
}