/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

.page.theme_light {
  --accent-color: #FF8DCB;
  --main-bg-color: #fff1f7;
  --main-text-color: #353430;
  --text-shadow: #FF0070;
  --nav-color: #353430;
  --nav-hover-color: rgba(50, 49, 45, 0.4);
  --focus: #FFC2E6;
  --title-color: #353430;
  background-color: var(--main-bg-color);
  background-image: url("/images/cover-image-light.png");
  
  .header_indicator {
    display: none;
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --accent-color: #FF8DCB;
    --main-bg-color: #00183f;
    --main-text-color: #353430;
    --text-shadow: #FF0070;
    --nav-color: #353430;
    --nav-hover-color: rgba(50, 49, 45, 0.4);
    --focus: #FFC2E6;
    --title-color: #353430;
    background-color: var(--main-bg-color);
    background-image: url("/images/cover-image-light.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
    position: relative;
}
.header_indicator {
  display: none;
}
}
