.page {
  margin: auto;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  position: relative;
}

.header {
  display: grid;
  grid-template-rows: 1fr min-content 1fr;
  padding-inline: var(--main-gap);
  block-size: 100vh;
  min-block-size: 668px;
  position: relative;
}

@media (width >= 768px) {
  .header {
  padding-inline: calc(var(--main-gap) * 2);
  }
}

.decorated-zone::before {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-end: 1px solid var(--nav-color);
  border-block-start: 1px solid var(--nav-color);
  inset-inline-end: var(--main-gap);
  inset-block-start: var(--main-gap);
}

@media (width >= 768px) {
  .decorated-zone::before {
    inset-inline-end: calc(var(--main-gap) * 2);
    inset-block-start: calc(var(--main-gap) * 2);
  }
}

.decorated-zone::after {
  content: '';
  position: absolute;
  inline-size: 25px;
  block-size: 25px;
  border-inline-start: 1px solid var(--nav-color);
  border-block-end: 1px solid var(--nav-color);
  inset-inline-start: var(--main-gap);
  inset-block-end: var(--main-gap);
}

@media (width >= 768px) {
  .decorated-zone::after {
    inset-inline-start: calc(var(--main-gap) * 2);
    inset-block-end: calc(var(--main-gap) * 2);
  }
}

.header_indicator {
  position: absolute;
  right: 38px;
  top: 10px;
  line-height: 25px;
  text-transform: uppercase;
  color: var(--nav-color);
}

@media (width >= 768px) {
  .header_indicator {
    top: 20px;
    right: 50px;
  }
}

.header_indicator::after {
  content: '';
  inline-size: 9px;
  block-size: 9px;
  position: absolute;
  border: 1px solid var(--nav-color);
  border-radius: 50%;
  background-color: var(--nav-color);
  box-shadow: 0 0 4px 2px var(--nav-color);
  top: 8px;
  margin-left: 10px;
}

.header__theme-menu {
  justify-self: end;
  align-self: center;

}

@media (width >= 768px) {
  .header__theme-menu {
  top: 10px;
  position: relative;
  }
}

@media (width >= 1024px) {
  .header__theme-menu {
    justify-self: center;
    align-self: start;
    top: 0;
  }
}

@media (width >= 1024px) {
  .header__theme-menu-list {
    display: flex;
  }
}

.header__theme-menu-item {
  margin-bottom: 10px;
}

@media (width >= 1024px) {
  .header__theme-menu-item {
    margin-inline: 5px;
  }
}

.header__theme-menu-button {
  border: 1px solid transparent;
  padding: 2px 13px 4px;
  color: var(--nav-color);
  line-height: 1;
  text-transform: lowercase;
  background-color: transparent;
  cursor: pointer;
  appearance: none;
}
  
.header__theme-menu-button:focus {
  outline: none;
}

.header__theme-menu-button:focus-visible {
  border-bottom: 1px solid var(--nav-color);
}
  
.header__theme-menu-button:hover {
  border: 1px solid var(--nav-hover-color);
}
  
.header__theme-menu-button_active {
  border: 1px solid var(--nav-color);
  pointer-events: none;
  }

.focus {
  font-size: clamp(7.25rem, 7.1055rem + 0.6163vw, 7.5rem);
  font-weight: bold;
  color: var(--focus);
  line-height: 95.7px;
  text-shadow: 4px 4px var(--text-shadow);
}

@media (width >= 768px) {
  .focus {
    margin-inline-start: -16px;
  }
}

@media (width >= 1024px) {
  .focus {
    margin-inline-start: -20px;
    font-size: clamp(1.125rem, -3.8947rem + 21.4176vw, 9.8125rem);
  }
}

.sub-title {
  color: var(--title-color);
  background-color: var(--accent-color);
  justify-self: end;
  align-self: center;
  font-weight: bold;
  margin-block-end: var(--main-gap);
}

@media (width >= 768px) {
  .sub-title {
    max-width: calc(100% / 2);
    margin-block-end: calc(var(--main-gap) * 2);
  }
}

@media (width >= 1024px) {
  .sub-title {
    margin-block-start: 15px;
  }
}

.content {
  padding-block: calc(4 * var(--main-gap)) var(--main-gap);
  padding-inline: var(--main-gap);
  margin-block-end: calc(var(--main-gap) * 3);
}

@media (width >= 768px) {
  .content {
    margin-block-start: calc(var(--main-gap) * 2);
    margin-block-end: calc(var(--main-gap) * 5);
    padding-inline: var(--main-gap);
  }
}

.content_area {
  margin-block-end: calc(var(--main-gap) * 5);
}

@media (width >= 768px) {
  .content_area {
    display: grid;
    grid-template-columns: 1fr 2fr;
    column-gap: calc(var(--main-gap) * 2);
    padding-inline: var(--main-gap);
    margin-block-end: calc(var(--main-gap) * 6);
  }
}

@media (width >= 1024px) {
  .content_area {
    column-gap: var(--main-gap);
  }
}

@media (width >= 1024px) {
  .content_area.content_question-what {
    grid-template-columns: repeat(3, 1fr);
    grid-auto-flow: row;
    column-gap: calc(var(--main-gap) * 2);
  }
}

@media (width >= 768px) {
  .section_title {
    width: calc(100% / 3);
    padding-inline: var(--main-gap);
  }
}

.title_content {
  display: flex;
  color: var(--nav-color);
  font-weight: bold;
  font-size: var(--main-text-size);
  margin-block-end: calc(var(--main-gap) * 2);
}

@media (width >= 768px) {
  .title_content {
    grid-column: 1 / 2;
    grid-row: 1 / span 2;
  }
}

@media (width >= 1024px) {
  .content_question-what > .title_content {
    grid-column: 1;
    grid-row: 1;
  }
}

@media (width >= 768px) {
  .content_area-card {
    grid-column: 2;
    }
  .content_question-what > .content_area-card {
    grid-column: span 2;
    }
}

@media (width >= 1024px) {
  .content_question-what > .content_area-card {
    grid-column: auto;
  }
}

.title-description {
  color: var(--title-color);
  background-color: var(--accent-color);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  word-wrap: break-word;
}

@media (width >= 768px) {
  .content_question-how > .title-description {
    margin-block-end: calc(var(--main-gap) * 2);
  }
}

.text-description {
  font-size: var(--main-text-size);
  color: var(--main-text-color);
  line-height: 23.4px;
  margin-top: var(--main-gap);
  margin-block-end: calc(var(--main-gap) * 2);
}

.text-description_accent {
  background-color: var(--accent-color);
  margin-top: calc(var(--main-gap) * 2);
  font-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
  color: var(--title-color);
}

@media (width >= 768px) {
  .text-description_accent {
    grid-column: 2;
    height: min-content;
    margin: 0;
  }
}

@media (width >= 768px) {
  .content-gallery {
    padding-inline: var(--main-gap);
  }
}

.gallery-items {
  display: grid;
  grid-template-columns: auto;
  row-gap: var(--main-gap);
  margin-block-start: var(--main-gap);
}

@media (width >= 768px) {
  .gallery-items {
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: minmax(min-content, max-content);
    grid-auto-flow: dense;
    gap: calc(var(--main-gap) * 2);
    margin-block-start: calc(var(--main-gap) * 2);
  }
}

.gallery-image {
  width: 100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

@media (width >= 768px) {
  .sunset {
    grid-column: span 2;
  }
  .plate {
    grid-row: span 2;
  }
  .collage {
    grid-row: span 2;
  }
  .street {
    grid-column: span 2;
  }
}

.footer {
  display: flex;
  position: relative;
  min-block-size: 668px;
  block-size: 100vh;
  align-items: center;
  justify-content: center;
}

.footer > .focus {
  text-shadow: 2px 2px 0 var(--text-shadow);
}

@media (width >= 768px) {
  .footer > .focus {
    margin: 0;
  }
}

.inline-link {
  color: var(--main-text-color);
  text-shadow: 2px 2px var(--text-shadow);
  text-decoration: none;
}

.inline-link:hover {
  border-bottom: 1px solid var(--main-text-color);
}

.inline-link:focus {
  outline: none;
}

.inline-link:focus-visible {
  outline: 1px solid var(--main-text-color);
}