/*
  Переменные для вашего проекта
  и их переопределение под различные устройства
*/
:root {
--main-gap: 10px;
--main-font: 'IBM plex mono';
--title-color: #000028;
--accent-color: #ff0070;
--main-bg-color: #00183f;
--main-text-color: #f1b2ce;
--main-text-size: clamp(1.125rem, 1.125rem + 0vw, 1.125rem);
--bg-dark-color: #000028;
--bg-light-color: #FFF1F7;
}